services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    restart: always
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - postgres

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./ui/.env

  postgres:
    image: postgres:13.2-alpine
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres


networks:
  default:
    name: flowart
    driver: bridge